{% extends 'travel/base.html' %}
{% block content %}
    <div class="row" style="margin-top: 100px">
        {% for a in agencies %}
            <div class="col-lg-3 d-flex align-items-stretch" style="margin-left: 60px" >
                <div class="card">
                    {% if a.photo %}
                       <img class="card-img-top" src="{{a.photo.url}}" alt="Post image)">
                    {% endif %}
                    <div class="card-body">
                        <h6 class="card-title">Аты:{{ a.title }}</h6>
                        <p class="card-text">{% autoescape on %} {{a.content|linebreaks|truncatewords:10 }} {% endautoescape %}</p>
                        <a href="{{ a.get_absolute_url }}" class="btn btn-primary" style="margin-top: 10px"> Толығырақ </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<!-- Блок контента -->
<div class="content-text">
{#{% block content %}#}
{#{% endblock %}#}
{% if page_obj.has_other_pages %}
<nav class="list-pages">
    <ul>
{% if page_obj.has_previous %}
<li class="page-num">
 <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
</li>
{% endif %}

{% for p in paginator.page_range %}
  {% if page_obj.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
  {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
<li class="page-num">
 <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
</li>
{% endif %}

    </ul>
</nav>
{% endif %}
 </div>
<!-- Конец блока контента -->

{% endblock %}